/* ----------------- nav ----------------- */

.nav-content {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 2rem;
  padding: 17px;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  height: 1rem;
  align-items: center;
  position: fixed;
  width: 100%;
}

.nav-content li {
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-right: 100px;
}

/* ----------------- hero ----------------- */
.header-content {
  /* background-image: linear-gradient( 109.6deg,  rgba(61,131,97,1) 11.2%, rgba(28,103,88,1) 91.1% ); */
  background-image: url(images/Leonardo.Ai.jpg);
  height: 85vh;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}
.hero-section h1 {
  font-family: "Barlow", sans-serif;
  font-size: 70px;
  color: white;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

.hero-section p {
  font-size: 25px;
  color: white;
  letter-spacing: 2px;
  line-height: 33px;
}

.main-section {
  background-color: rgba(244, 242, 242, 0.511);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-section-content {
  width: 40%;
}

.main-section-content p {
  font-size: 20px;
}

.main-section h2 {
  padding: 4rem 0 0 6rem;
  font-size: 30px;
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.about-us img {
  width: 500px;
  border-radius: 15px;
}

.about-us h2 {
  font-size: 25px;
  padding-bottom: 20px;
  font-family: "Salsa", cursive;
}
.about-us-content h2 {
  font-size: 35px;
}

.about-us-content p {
  font-size: 20px;
  line-height: 25px;
  width: 90%;
}

.objectives {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  padding: 4rem;
}

.objectives img {
  width: 350px;
  border-radius: 15px;
}

.objectives h2 {
  font-size: 25px;
  padding-bottom: 20px;
  font-family: "Salsa", cursive;
}

.objectives-content {
  width: 50rem;
}
.objectives-content h2 {
  font-size: 35px;
}

.objectives-content p {
  font-size: 22px;
  line-height: 25px;
  width: 90%;
}

.values-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.about-us-content {
  width: 50rem;
}

.values {
  display: flex;
  justify-content: center;
  align-items: center;
}

.values-content h2 {
  font-size: 35px;
  padding-bottom: 20px;
  font-family: "Salsa", cursive;
}

.values img {
  width: 500px;
  border-radius: 20px;
}

.values-content {
  width: 50rem;
}

.values-content p {
  font-size: 20px;
  line-height: 25px;
  width: 90%;
}

.raizes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background-image: linear-gradient(120deg, #dddddd87 0%, #4caf50 100%);
}
.raizes img {
  width: 500px;
  border-radius: 20px;
}

.raizes-content {
  width: 50rem;
}

.raizes-content p {
  font-size: 25px;
  line-height: 35px;
  width: 90%;
  font-weight: 600;
}

.raizes-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.raizes-container h2 {
  font-size: 35px;
  padding-bottom: 20px;
}

.section-about-us {
  padding: 4rem;
}

.hero-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* ----------------- ideal ----------------- */

.container-cards {
  display: flex;
  padding: 4rem;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.images-about-us {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.card {
  width: 30rem;
  padding: 10px;
  border: 1px solid black;
}

.footer {
  display: flex;
  justify-content: center;
  height: 5rem;
  align-items: center;
  flex-direction: column;
}

.footer p {
  font-size: 20px;
}

@media (max-width: 1400px) {
  .hero-section h1 {
    font-size: 60px;
  }
  .hero-section p {
    font-size: 24px;
    line-height: 33px;
  }

  .nav-content {
    gap: 1rem;
  }

  .nav-content li {
    padding: 0;
  }
}

@media (max-width: 1100px) {
  .nav-content {
    display: none;
  }

  .hero-section h1 {
    font-size: 35px;
  }
  .hero-section p {
    font-size: 16px;
    line-height: normal;
;
  }

  .about-us-content p {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-about-us {
    padding: 1rem;
  }

  .about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile {
    display: none;
  }

  .image-mobile {
    display: flex;;
    align-items: center;
    justify-content: center;
  }

  .container-images-mobile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
  }
  
  .objectives {
    padding: 1.5rem;
  }
}
